html{
    width:100%;
    height:100%;
}

body {
    width:100%;
    height:100%;
    font-family: 'Karla', sans-serif;
}

/* * {
    outline: 1px solid #f00 !important;
  } */

h1,h2,h3,h4,h5,h6 {
    font-family: 'Karla', sans-serif;
}

h1,h2,h3{
    color: #023047;
}

h5{
    line-height: 1.5em !important;
}

p {
    font-size: 18px;
    font-family: 'Karla', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.e-resize {
    cursor: e-resize; 
}

body.about-page{
    background-color: #F8FEFF;
}

a:active {
    color: #023047;
}

a:hover {
    color: #023047;
}

.navbar-collapse{
    padding-left: 30px;
    padding-top: 20px;    
}

.work-tab a{
    color: #023047;
    text-decoration: none;
}

.work-tab a:hover{
    color: grey;
    text-decoration: none;
    cursor: ne-resize;
}

.navbar{
    background-color: white;
}

.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
}

.more-link{
    padding-left:20px;
    padding-right:20px;
}

.more-link a:hover{
    background-color: black;
}

.footer-icon{
    padding-left:20px;
    padding-right:20px;  
    color: #023047;
}

.footer-link{
    padding-left:30px;
    padding-right:30px;
    color: #023047;
}

.nav-item {
    color: #023047;
}

.row.footer{
    margin-right: 0px !important;
}

#banner {
    padding-bottom: 300px;
    margin-top: 100px;
}

#quote {
    margin-top: 100px;
    padding: 100px;
    background-color: #69A1AC;
}

.quote-text{
    margin-right: 400px; 
    margin-left: 30px;
}

#about {
    padding-top: 80px;
}

#stable-banner{
    background: url("images/stable-cover.png") no-repeat fixed center;
    height: 700px;
}

#happyer-banner{
    background: url("images/happyer-cover.png") no-repeat fixed center;
    height: 700px;
}

#ambidextr-banner{
    background: url("images/ambidextr-cover.png") no-repeat fixed center;
    height: 700px;
}


#read-more {
    margin-top: 100px;
    padding: 100px;
    background-color: #69A1AC;
}

#more-projects{
    background-color: white;
    padding:100px;
}

.sub-header{
    font-weight: 600;
    color:#69A1AC;
}

.work-tag{
    color: grey;
    padding-top: 300px;
}

.sub-title{
    margin-right: 600px;
}

.mid-text{
    text-align: center; 
}

.highlight-text{
    padding: 150px;
}

/* MOUSE SCROLLING ANIMATION */
.moving-mouse-holder {
    margin: auto;
  }
  
.moving-mouse-holder .mouse {
width: 26px;
height: 40px;
position: relative;
right: 0;
border-radius: 18px;
border: 2px solid #69A1AC;
}

.moving-mouse-holder .mouse-button {
background-color: #69A1AC;
width: 4px;
height: 10px;
border-radius: 2px;
position: absolute;
top: 10px;
left: 50%;
margin: 0 0 0 -2px;
animation: mouse-scroll 1s infinite alternate;
}

.moving-mouse-holder .text {
margin-top: -30px;
margin-left: 40px;
color: #69A1AC;
font-size: 22px;
line-height: 1em;
}

@keyframes mouse-scroll {
to {
    transform: translate(0, 6px) scale(1, 0.8);
}
}

/* END OF MOUSE SCROLLING */

.work-tab{
    padding-left: 20px;
    padding-right: 20px;
}

.tag {
    color: lightslategrey;
}

.work-text{
    padding: 100px;
}

.fun-points{
    padding-top: 5px;
    padding-bottom: 5px;
}

/* RESPONSIVE LAYOUT */

@media screen and (max-width: 767px) {
    #quote {
        padding: 30px;
    }
    .quote-text{
        margin-left: 0px;
        margin-right: 0px;
    }
    #banner{
        margin-left:30px;
        padding-bottom: 200px;
    }
    .highlight-text{
        padding:90px;
    }
    .about-section{
        margin-top: 20px;
    }
}